<nav class="navbar navbar-expand-lg bg-lightgrey bimage">
        <div class="container-fluid">
          <ul class="navbar-nav">
             

            <li class="nav-item right-align">
                  <a routerLink="/admin" class="nav-link" routerLinkActive="active">
                   <span style="font-size: 35px;">College<span style="color:#fceb07;">Dekho</span></span>
                  </a>
            </li>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <li class="nav-item right-align">
              <a routerLink="/admin/colleges/crud" class="nav-link" routerLinkActive="active">
                Manage College
              </a>
            </li>
            <li class="nav-item right-align">
                <a routerLink="/admin/cutoff/crud1" class="nav-link" routerLinkActive="active">
                  Manage Cutoffs
                </a>
            </li>
            <li class="nav-item right-align">
                <a routerLink="/admin/branches/crud2" class="nav-link" routerLinkActive="active">
                  Manage Branches
                </a>
            </li>
            <li class="nav-item right-align">
                <a routerLink="/admin/feesstructures/crud3" class="nav-link" routerLinkActive="active">
                   Manage Feesstructures
                 </a>
            </li>
            <li class="nav-item right-align">
                <a routerLink="/admin/placement/crud4" class="nav-link" routerLinkActive="active">
                   Manage Placements
                </a>
            </li>
            <li class="nav-item right-align">
                <a routerLink="/admin/ranking/crud5" class="nav-link" routerLinkActive="active">
                   Manage Rankings
                </a>
            </li>
            <li class="nav-item right-align">
                <a routerLink="/admin/seatmatrix/crud6" class="nav-link" routerLinkActive="active">
                   Manage Seatmatrix
                </a>
            </li>
          </ul>
        </div>
      </nav>
      
      <div class="container">
        <router-outlet></router-outlet>
      </div>